<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>五菱</title>
    <link rel="stylesheet" href="css/multiplex.css">
    <link rel="stylesheet" href="css/detail.css">
    <link rel="stylesheet" href="css/pageView.css">
    <!-- <link rel="stylesheet" href="css/pageView.css"> -->
    <script src="js/exportExcel.js"></script>
    <script src='lib/vue-2.4.0.js'></script>
    <script src="lib/axios.js"></script>
    <script src='lib/vue-router-3.0.1.js'></script>
    <link rel="stylesheet" href="js/layui/css/layui.css"  media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>

<body>
<div class="main-title">
    安全审计问题管理系统
</div>
<div id="app">
    <div class="welcome">
        欢迎您, <span>{{userName}}</span>
        <button class="repassword" @click="flag=!flag">修改密码</button>
        <button class="exit" @click="exit">退出</button>
    </div>
    <div class="pass-box" v-show="flag">
        之前密码:<br>
        <input type="password" v-model="oldValue">
        新密码:<br>
        <input type="password" v-model="newValue">
        确认新密码:<br>
        <input type="password" v-model="newValue2">
        <button class="flag" @click.prevent="flag=!flag">x</button>
        <input type="button" value="提交" @click="repass">
    </div>
    <div class="left" ref='left'>
        <!-- 拆分成组件 -->
        <div class="left-title">欢迎使用</div>
        <router-link to="/problem">页面视图</router-link>
        <router-link to="/zong">综合统计</router-link>
    </div>
    <div class="right" ref='right'>
        <!-- 这是右侧顶部,还没有内容 空余出一部分  等后续添加-->
        <router-view></router-view>
    </div>
</div>

<template id="problem">
    <div class="right-main">
        <div class="top">
            状态判断:
            <select v-model="stateJudgement">
                <option value=""></option>
                <option v-for="item in stateJudgements" :value="item">{{item}}</option>
            </select>
            问题分类:
            <select v-model="problemClassification" @change="searchGo()">
                <option value=""></option>
                <option v-for="item in problemClassifications" :value="item">{{item}}</option>
<!--                <option value="不安全行为">不安全行为</option>-->
<!--                <option value="化学品安全">化学品安全</option>-->
<!--                <option value="交通安全">交通安全</option>-->
<!--                <option value="环境保护">环境保护</option>-->
<!--                <option value="消防安全">消防安全</option>-->
<!--                <option value="用电安全">用电安全</option>-->
<!--                <option value="能量锁定">能量锁定</option>-->
<!--                <option value="有限空间">有限空间</option>-->
<!--                <option value="危险隔离区">危险隔离区</option>-->
<!--                <option value="高处作业">高处作业</option>-->
<!--                <option value="机械安全">机械安全</option>-->
<!--                <option value="职业健康">职业健康</option>-->
<!--                <option value="目视化信息">目视化信息</option>-->
<!--                <option value="作业现场及5s">作业现场及5s</option>-->
<!--                <option value="管理缺失">管理缺失</option>-->
            </select>
            细分类型:
            <select v-model="subdivisionType" class="xifen">
                <option value=""></option>
                <option v-for='item in leimsg' :value="item">{{item}}</option>
            </select>
            等级:
            <select v-model="rank">
                <option value=""></option>
                <option v-for="item in ranks"  :value="item">{{item}}</option>
<!--                <option value="A">A</option>-->
<!--                <option value="B">B</option>-->
<!--                <option value="C">C</option>-->
            </select>
            责任区域:
            <select v-model="responsibleArea" >
                <option value=""></option>
                <option v-for="item in responsibleAreas"  :value="item">{{item}}</option>
<!--                <option value="冲压车间">冲压车间</option>-->
<!--                <option value="车身车间">车身车间</option>-->
<!--                <option value="涂装车间">涂装车间</option>-->
<!--                <option value="总装车间">总装车间</option>-->
<!--                <option value="发动机工厂">发动机工厂</option>-->
<!--                <option value="维修车间">维修车间</option>-->
<!--                <option value="采购及供应链管理科">采购及供应链管理科</option>-->
<!--                <option value="质量科">质量科</option>-->
<!--                <option value="KD车间">KD车间</option>-->
<!--                <option value="销售公司售后配件科">销售公司售后配件科</option>-->
<!--                <option value="销售公司整车物流科">销售公司整车物流科</option>-->
<!--                <option value="党群工作科">党群工作科</option>-->
<!--                <option value="财务科">财务科</option>-->
<!--                <option value="技术工程科">技术工程科</option>-->
<!--                <option value="信息系统与服务科">信息系统与服务科</option>-->
<!--                <option value="人力资源科">人力资源科</option>-->
<!--                <option value="兴菱公司">兴菱公司</option>-->
<!--                <option value="总经办">总经办</option>-->
<!--                <option value="安全科">安全科</option>-->
<!--                <option value="生产计划科">生产计划科</option>-->
<!--                <option value="新能源">新能源</option>-->
            </select >
            <br>
            审计层级:
            <select v-model="auditHierarchy">
                <option value=""></option>
                <option v-for="item in auditHierarchys"  :value="item">{{item}}</option>
<!--                <option value="公司级">公司级</option>-->
<!--                <option value="车间级">车间级</option>-->
<!--                <option value="工段级">工段级</option>-->
<!--                <option value="班组级">班组级</option>-->
            </select>
            是否重复问题
            <select v-model="repeatQuestion">
                <option value=""></option>
                <option value="是">是</option>
                <option value="否">否</option>
            </select>
            完成状态
            <select v-model="completionStatus">
                <option value="" ></option>
                <option value="完成" >完成</option>
                <option value="未完成" >未完成</option>
            </select>
            开始时间
            <input type="date" v-model="startTime">
            结束时间
            <input type="date" v-model="endTime">
            <input type="button" value="按照时间搜索" @click.prevent="getTime()">
            <input type="button" value="导出" @click="go" class="export">
        </div>
        <div style='width:100%; height:450px; overflow-y:auto;'>
            <table border="1" cellspacing='0' align="center" id="dataTable">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>审计区域</th>
                    <th>提出时间</th>
                    <th>问题描述</th>
                    <th>图片</th>
                    <th>状态判断</th>
                    <th>问题分类</th>
                    <th>细分类型</th>
                    <th>等级</th>
                    <th>整改措施</th>
                    <th>责任区域</th>
                    <th>责任人</th>
                    <th>完成期限</th>
                    <th>审计层级</th>
                    <th>是否重复问题</th>
                    <th>完成状态</th>
                    <th>完成照片</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item,index) in search()">
                    <td align="center">{{index+1}}</td>
                    <td align="center">{{item.auditArea}}</td>
                    <td align="center">{{item.proposeTime}}</td>
                    <td align="center">{{item.problemDescription}}</td>
                    <td align="center" v-if="item.photo">
                        <img :src="'http://qiniu.snroom.com/@'+item.photo" alt="">
                    </td>
                    <td align="center" v-else>

                    </td>
                    <td align="center">{{item.stateJudgement}}</td>
                    <td align="center">{{item.problemClassification}}</td>
                    <td align="center">{{item.subdivisionType}}</td>
                    <td align="center">{{item.rank}}</td>
                    <td align="center">{{item.rectificationMeasures}}</td>
                    <td align="center">{{item.responsibleArea}}</td>
                    <td align="center">{{item.personLiable}}</td>
                    <td align="center">{{item.completionDeadline}}</td>
                    <td align="center">{{item.auditHierarchy}}</td>
                    <td align="center">{{item.repeatQuestion}}</td>
                    <td align="center">{{item.completionStatus}}</td>
                    <td align="center" v-if="item.finishPhoto">
                        <img :src="'http://qiniu.snroom.com/@'+item.finishPhoto" alt="">
                    </td>
                    <td align="center" v-else>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>
<template id="zong">
    <div class="zong right-main">
        输入年<input type="text" placeholder="例如 2019" v-model="year">
        输入月<input type="text" placeholder="例如 3" v-model="month">
        <input type="button" value="点击搜索" @click="searchZong()" style="height: 30px;width: 70px;background-color: #F1F3F4">
        <input type="button" class="toggle" value="换一批" @click="flag=!flag" style="height: 30px;width: 60px;background-color: #F1F3F4;">
        <div class="cengji" v-if="flag">
            <div class="cengjiAll" style="overflow:auto;">
                车间-审计级别-数量
                <br>
                <br>
                <div class="one"><span>车间</span><span>审计级别</span><span>数量</span></div>
                <div v-for="item in hierarchy">
                    <span>{{item.responsible_area}}</span><span>{{item.audit_hierarchy}}</span><span>{{item.number}}</span>
                </div>
            </div>
            <div class="cengjiLv" style="overflow:auto;">
                车间-完成率
                <br>
                <br>
                <div class="one"><span>车间</span><span>完成率</span></div>
                <div v-for="item in hierarchyCompleteRatio"><span>{{item.responsible_area}}</span><span>{{item.complete_ratio}}</span>
                </div>
            </div>
            <div class="cengjiAll" style="overflow:auto;">
                车间-等级-数量
                <br>
                <br>
                <div class="one"><span>车间</span><span>等级</span><span>数量</span></div>
                <div v-for="item in problemType">
                    <span>{{item.problem_classification}}</span><span>{{item.rank}}</span><span>{{item.number}}</span>
                </div>
            </div>
            <div class="cengjiLv" style="overflow:auto;">
                车间-数量
                <br>
                <br>
                <div class="one"><span>车间</span><span>数量</span></div>
                <div v-for="item in companyAudit"><span>{{item.state_judgement}}</span><span>{{item.number}}</span>
                </div>
            </div>
        </div>

        <div class="wenti" v-else>
            <div class="cengjiAll" style="overflow:auto;">
                公司级：车间-等级-数量
                <br>
                <br>
                <br>
                <div class="one"><span>问题类型</span><span>等级</span><span>数量</span></div>
                <div v-for="item in companyAuditNew">
                    <span>{{item.responsible_area}}</span><span>{{item.rank}}</span><span>{{item.number}}</span>
                </div>
            </div>
            <div class="cengjiLv" style="overflow:auto;">
                问题类型-完成率
                <br>
                <br>
                <br>
                <div class="one"><span>问题类型</span><span>完成率</span></div>
                <div v-for="item in companyProblemType"><span>{{item.problem_classification}}</span><span>{{item.complete_ratio}}</span>
                </div>
            </div>
            <div class="cengjiAll" style="overflow:auto;">
                全部：车间-等级-数量
                <br>
                <br>
                <br>
                <div class="one"><span>问题类型</span><span>等级</span><span>数量</span></div>
                <div v-for="item in audit">
                    <span>{{item.responsible_area}}</span><span>{{item.rank}}</span><span>{{item.number}}</span>
                </div>
            </div>
        </div>
    </div>
</template>
<script src="js/pageView.js"></script>
</body>

</html>