div.left a{
  background-color: #282A32;
}
.top {
  margin-top: 80px;
  width: 1098px;
  height: 70px;
  padding-left: 50px;
}
.top select {
    margin-top: 10px;
    margin-right: 25px;
}
.xifen {
    width: 200px;
}
table {
  width: 2000px;
}
thead th {
  background-color: rgb(0,176,240);
  height: 25px;
  font-size: 12px;
}
tbody tr{
  height: 200px;
  font-size: 12px;
}
tbody tr td {
  max-width: 100px;
}
tbody tr td img{
  width: 150px;
  max-height: 100px;
}

